{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="background"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h3>HIIT Workout Plan</h3>
            <h5 class="text-muted">A High Intensity Interval Training Plan for you to use at home!</h5>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                          <th scope="col">Monday</th>
                          <th scope="col">Tuesday</th>
                          <th scope="col">Wednesday</th>
                          <th scope="col">Thursday</th>
                          <th scope="col">Friday</th>
                          <th scope="col">Saturday</th>
                          <th scope="col">Sunday</th>
                        </tr>
                      </thead>
                      {% for workout in workouts %}
                        <tbody>
                            <tr>
                                <td>1-3 SETS</td>
                                <td>1-3 SETS</td>
                                <td>1-3 SETS</td>
                                <td>1-3 SETS</td>
                                <td>1-3 SETS</td>
                                <td>1-3 SETS</td>
                                <td>1-3 SETS</td>
                            </tr>
                            <tr>
                                <td>{{ workout.name }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}    
                        </tbody>
                </table>
              </div>
        </div>
    </div>
</div>
{% endblock %}