{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="background"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <hr>
            <h3>HIIT Workout Plan</h3>
            <h5 class="text-muted">A High Intensity Interval Training Plan for you to use at home!</h5>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                          <th scope="col">Monday</th>
                          <th scope="col">Tuesday</th>
                          <th scope="col">Wednesday</th>
                          <th scope="col">Thursday</th>
                          <th scope="col">Friday</th>
                          <th scope="col">Saturday</th>
                          <th scope="col">Sunday</th>
                        </tr>
                      </thead>
                        <tbody>
                                <tr>
                                    <td><strong>1-3 SETS</strong></td>
                                    <td><strong>1-3 SETS</strong></td>
                                    <td><strong>REST</strong></td>
                                    <td><strong>1-3 SETS</strong></td>
                                    <td><strong>1-3 SETS</strong></td>
                                    <td><strong>CARDIO</strong></td>
                                    <td><strong>REST</strong></td>
                                </tr>
                                {% for workout in workouts %}
                                    <tr>
                                        {% if workout.day == "Monday" %}
                                            <td>
                                                <strong>{{ workout.duration }}</strong>
                                                <p>
                                                {{ workout.name }}
                                                </p>
                                            </td>
                                            <td>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                    </tr>
                                        {% endif %}
                                {% endfor %}   
                        </tbody>
                </table>
              </div>
        </div>
    </div>
</div>
{% endblock %}