{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="background"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <hr>
            <h3 class="text-center"><strong>Nutrition</strong></h3>
            <h5 class="text-muted text-center">Selected Pre & Post Workout foods by our experts to make the most of your
                exercise</h5>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
                <ul class="list-unstyled">
                    <h4 class="text-center">Pre Workout</h4>
                    <li class="media">
                        <img src="..." class="mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">1/4 Avacado & Whole Grain Toast</h5>
                        </div>
                    </li>
                    <li class="media my-4">
                        <img src="..." class="mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Chicken Salad Pitta</h5>
                        </div>
                    </li>
                    <li class="media">
                        <img src="..." class="mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">TBC</h5>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="list-unstyled">
                    <h4 class="text-center">Post Workout</h4>
                    <li class="media">
                        <img src="..." class="mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Protein Pancakes</h5>
                        </div>
                    </li>
                    <li class="media my-4">
                        <img src="..." class="mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">TBC</h5>
                        </div>
                    </li>
                    <li class="media">
                        <img src="..." class="mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">TBC</h5>
                        </div>
                    </li>
                </ul>
            </div>
    </div>
</div>
{% endblock %}