{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="background"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <hr>
            <h3 class="text-center"><strong>Nutrition</strong></h3>
            <h5 class="text-muted text-center">Selected Pre & Post Workout foods by our experts to make the most of your
                exercise</h5>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col plan">
                <ul class="list-unstyled">
                    <p class="nut-header">Pre Workout</p>
                    <li class="media">
                        <img src="{{ MEDIA_URL }}avacado_toast.jpg" class="mr-3 images" alt="avacado on toast dish">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">1/4 Avacado & Whole Grain Toast</h5>
                            <p>If your workout starts within 2-3 hours, have some whole grain toast
                                topped with avacado and maybe add a cup of fruit to ensure you have all the 
                                energy you need.
                            </p>
                        </div>
                    </li>
                    <li class="media my-4">
                        <img src="{{ MEDIA_URL }}omelette_toast.jpg" class="mr-3 images" alt="Egg omelette and toast dish">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Egg Omelette & Whole-Grain Toast</h5>
                            <p>An egg omelette with whole grain toast will provide the energy you require
                                for your workout in 2 hours.
                            </p>
                        </div>
                    </li>
                    <li class="media">
                        <img src="{{ MEDIA_URL }}protein_smoothie.jpg" class="mr-3 images" alt="protein smoothie in a glass">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Protein Smoothie</h5>
                            <p>If your workout is less than 2 hours away, have a delicious protein smoothie
                                made with milk, some protein powder, banana and mixed berries. You will have
                                exactly the energy you need to hit your workout hard.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col plan">
                <ul class="list-unstyled">
                    <p class="nut-header">Post Workout</p>
                    <li class="media">
                        <img src="{{ MEDIA_URL }}salmon_sweet_pot.jpg" class="mr-3 images" alt="Salmon and sweet potato dish">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Salmon & Sweet Potato</h5>
                            <p>After a tough but enjoyable workout, why not try some salmon and sweet potato that will provide your body with the valuable nutrients to help
                                you keep progressing on your fitness journey.
                            </p>
                        </div>
                    </li>
                    <li class="media my-4">
                        <img src="{{ MEDIA_URL }}grilled_chicken.jpg" class="mr-3 images" alt="grilled chicken and vegetables dish">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Grilled Chicken & Roasted Veg</h5>
                            <p>The grilled chicken and roasted vegetables dish will remove that post workout hunger and
                                give you the protein your muscles require.
                            </p>
                        </div>
                    </li>
                    <li class="media">
                        <img src="{{ MEDIA_URL }}kale_salad.jpg" class="mr-3 images" alt="kale salad dish">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Kale salad with berries and pecans</h5>
                            <p>An excellent dish that will not only provide you all the nutrients after your workout
                                but also tastes excellent.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
    </div>
</div>
{% endblock %}