{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md my-auto">
                <h1 class="display-6 text-center">
                    Enabling you to hit your fitness goals from the comfort of your own home
                </h1>
                    <div class="d-flex justify-content-center sign-up-button">
                        <h4>
                        <a href="" class="btn text-uppercase btn-info py-3 sign-up">Sign Up</a>
                    </h4>
                    </div>
            </div>
        </div>
    </div>


    <section>
        <div class="row">
            <div class="col-12 col-md-8 about">
                <p>Here is some chat about us and all that you can do if you give us some cash.</p>
            </div>
            <div class="col-12 col-md-4">
                <img src='/media/equipment.jpg' alt="" height="200px" width="100%">
            </div>
        </div>

    </section>
{% endblock %}