{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-md my-auto">
                <h1 class="display-6 text-center strapline">
                    Enabling you to hit your fitness goals from the comfort of your own home
                </h1>
                    <div class="d-flex justify-content-center sign-up-button">
                        <h4>
                        <a href="{% url 'account_signup' %}" class="btn text-uppercase btn-info py-3 site-text">Sign Up</a>
                    </h4>
                    </div>
            </div>
        </div>
    </div>


    <section>
        <div class="row">
            <div class="col-12 col-md-8 about">
                <p>At Casa Fitness, we understand that peoples lives are busy and not everyone has time to visit a gym or a fitness class even though they want to get into shape.
                    We have designed simple but effective workout plans that will only take 20-30 minutes out of your day and can be done from home with our without basic fitness equipment. Along with pre and post workout dietary advice
                    to further support your journey to your fitness goal. Becoming a member allows you access to these plans and more. Why not sign up today!</p>
            </div>
            <div class="col-12 col-md-4">
                <img src='/media/equipment.jpg' alt="" height="200px" width="100%">
            </div>
        </div>

    </section>
{% endblock %}