html {
    height: 100%;
}

body {
    background: url('/media/homepage.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(85vh - 164px);
    color: grey;
    font-family: 'Ubuntu';
}

.cover {
    background-color: #444444;
}

.navbar-brand {
    color:whitesmoke;
    margin-left: 25px;
}

.navbar-brand:hover {
    color: #17a2b8;
}

.nav-link {
    color: whitesmoke
}

.justify-content-end {
    padding-right: 40px;
}

.navbar-nav .nav-link:hover,

.navbar-nav .nav-link:active,

.navbar-nav .nav-link:focus,

.navbar-nav .nav-link:active:focus {
    color: #17a2b8;
}

.custom-toggler.navbar-toggler {
    border-color: whitesmoke;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(245, 245, 245, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item {
    margin-right: 25px;
}

.site-text {
    color: whitesmoke;
}

.badge {
    font-size: 12px;
    background: #17a2b8;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
}

.sign-up-button {
    margin-top: 55px;
}

.about {
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 50px;
}

.display-6 {
    padding-top: 40px;
}


.background {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.strapline {
    color: whitesmoke;
}

hr {
    opacity: .5;
}

.remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed;
    min-height: 200px;
    top: 0;
    right: 0;
}


.toast { 
    opacity: 1 !important;
}


.images {
    height: 150px;
    width: 150px;
}

.plan {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  

@media(max-width: 540px) {
    .strapline {
        font-size: 1.3rem;
    }
}