html {
    height: 100%;
}

body {
    background: url('/media/homepage.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(85vh - 164px);
    color: whitesmoke;
    font-family: 'Ubuntu';
}

.navbar-brand {
    color:whitesmoke
}

.nav-link {
    color: whitesmoke
}

.custom-toggler.navbar-toggler {
    border-color: whitesmoke;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(245, 245, 245, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.sign-up {
    color: whitesmoke;
}

.sign-up-button {
    margin-top: 55px;
}

.about {
    background-color: white;
    color: black;
}

.display-6 {
    padding-top: 40px;
}


.background {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

hr {
    opacity: .5;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  /* @media (min-width: 992px) { */
      /* .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
  } */