<ul>
    <li class="list-inline-item dropdown">
        <a class="nav-link d-block d-lg-none" href="#" id="workouts" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <div class="text-center">
                <p class="my-0">Workout Plans</p>
            </div>
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="workouts">
            <a href="" class="dropdown-item">HIIT</a>
            <a href="" class="dropdown-item">Yoga/Pilates</a>
            <a href="" class="dropdown-item">Weight Training</a>
        </div>
    </li>
    <li class="list-inline-item dropdown">
        <a class="nav-link d-block d-lg-none" href="#" id="diet" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <div class="text-center">
                <p class="my-0">Nutrition</p>
            </div>
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="diet">
            <a href="" class="dropdown-item">Meal Plans</a>
            <a href="" class="dropdown-item">Pre & Post Workout</a>
        </div>
    </li>
    <li class="list-inline-item dropdown">
        <a class="nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <div class="text-center">
                <p class="my-0">Account</p>
            </div>
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="user-options">
            {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
            <a href="" class="dropdown-item">Site Management</a>
            {% endif %}
            <a href="" class="dropdown-item">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
            {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
            {% endif %}
        </div>
    </li>
    <li class="list-inline-item">
        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none"
            href="">
            <div class="text-center">
                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                <p class="my-0">
                    {% if grand_total %}
                    ${{ grand_total|floatformat:2 }}
                    {% else %}
                    $0.00
                    {% endif %}
                </p>
            </div>
        </a>
    </li>
</ul>